.welcomeCard {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 10;
  width: 300px;
  animation: bounce 2s ease-in-out infinite;
}

.welcomeCard img {
  width: 100%;
}
 
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
 
@media (max-width: 920px) {
  .welcomeCard {
    display: none;
  }
}
 